.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 22rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 22rem;
}

.story-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

.story-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border: none;
  margin-right: 100px;
  margin-left: -5px;
}

.story-text {
  width: 800px;
  margin-left: 20px;
  font-size: 18px;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
}

.button-container button {
  margin-right: 100px;
  padding: 10px 20px;
}