<div class="b">
  <div class="form-container">
    <form #r="ngForm" (ngSubmit)="Insert(r)">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="User.title" name="title" required>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="User.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="User.email" name="email" required>
        <div *ngIf="r.controls['email']?.['touched'] && r.controls['email']?.['errors']" class="red">
          <div *ngIf="r.controls['email']?.['errors']?.['required']">
            Enter your Email
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="yourstory">Content:</label>
        <textarea id="yourstory" [(ngModel)]="User.yourstory" name="yourstory" cols="10" rows="10" required></textarea>
      </div>


      <button type="submit" value="Insert" class="btn btn-primary">Insert</button>

    </form>
  </div>