<!-- <select name="cars" id="cars">
    <option value="volvo">ruz12#gmail.com</option>
    <option value="saab">fr13@dhskbvsjg</option>
    <option value="mercedes">bfdnds12@gfgmhg</option>
    <option value="audi">Audi</option>
  </select> -->
  <!-- <label for="email">Choose your browser from the list:</label>
  <form #r="ngForm" (ngSubmit)="Read(r)">
  <input list="email" name="email" id="email" [(ngModel)]="User.email">
  <datalist id="email">
    <option value="ruz12#gmail.com">
    <option value="fr13@dhskbvsjg">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
  </datalist>
  <input type="submit" value="submit"/>
  <h1>title:{{a[0}]}</h1>
  </form>
  -->
   
  
   <!-- <table cellpadding="10" align="center">
    <div class="footer">
     <td><label><b>Enter Category</b></label></td>
     <td><input type="text" [(ngModel)]="User.email" /></td>
   <tr><td><input type="submit" class="btn btn-primary" (click)="Read()" value="Read"></td></tr></div>
   <tr><label>title:{{a[0]}}</label></tr>
    <tr>
       <label>name:{{a[1]}}</label>
    </tr>
    <tr>
      <label>story:{{a[3]}}</label>
    </tr></table> -->
    <!-- <table cellpadding="10" align="center">
      <div class="footer">
       <td><label><b>Enter Category</b></label></td>
        <td><input list="email" [(ngModel)]="User.email"> -->
          <!-- <table>
        <img src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg" class="img1">
        <td><select id="email" [(ngModel)]="User.email">
          <option value="bfdnds12@gfgmhg,">bfdnds12@gfgmhg,</option>
          <option value="man13@gmail.com">man13@gmail.com</option>
          <option value="syedriz12@gmail.com">syedriz12@gmail.com</option>
          <option value="Opera">
          <option value="Safari">
          </select></td>
     <tr><td><input type="submit" class="btn btn-primary" (click)="Read()" value="Read"></td></tr></div>
     <tr><label>title:{{a[0]}}</label></tr>
      <tr>
         <label>name:{{a[1]}}</label>
      </tr>
      <tr>
        <label>story:{{a[3]}}</label>
      </tr></table> -->
      <!-- <table cellpadding="10" align="center">
        <div class="footer">
          <td class="e">
            <label><b>Enter Category</b></label>
          </td>
          <img src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg">
          <td>
            <select id="email" [(ngModel)]="User.email">
              <option value="bfdnds12@gfgmhg,">bfdnds12@gfgmhg,</option>
              <option value="man13@gmail.com">man13@gmail.com</option>
              <option value="syedriz12@gmail.com">syedriz12@gmail.com</option>
              <option value="Opera">
              <option value="Safari">
            </select>
          </td>
        </div>
        <tr>
          <td>
            <input type="submit" class="btn btn-primary" (click)="Read()" value="Read">
          </td>
        </tr>
        <tr>
          <label>title:{{a[0]}}</label>
        </tr>
        <tr>
          <label>name:{{a[1]}}</label>
        </tr>
        <tr>
          <label>story:{{a[3]}}</label>
        </tr>
      </table>
       -->
       <!-- <div style="display: flex; align-items: flex-start;">
        <img src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg" class="img1" style="width:500px; height:500px;">
       <img src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg" class="img1" style="width:500px; height:500px;"> -->
       <div style="display: flex;  align-items: flex-start;">
        <div style="display: flex;  flex-direction: column; align-items: flex-start;">
        <div>
          <img src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg" class="img1" style="width: 500px; height: 500px;">
        </div>
        <div style="margin-top:60px;">
          <img src="https://i.pinimg.com/736x/19/36/b0/1936b04689b80109d2d24f07e453df40.jpg" class="img1" style="width: 500px; height: 500px;">
        </div>
        </div>
      
        <table cellpadding="10" style="margin-left: 50px;">
          <tr>
            <td>
              <label><b>Enter Category</b></label>
            </td>
          </tr>
          <tr>
            <td>
              <select id="email" [(ngModel)]="User.email">
                <option value="sd18@gmail.com">sd18@gmail.com</option>
                <option value="sd16@gmail.com">sd16@gmail.com</option>
                <option value="mom13@gmail.com">mom13@gmail.com</option>
                <option value="dad13@gmail.com">dad13@gmail.com</option>
                <option value="man18@gmail.com">man18@gmail.com</option>
                <option value="jan13@gmail.com">jan13@gmail.com</option>

              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" class="btn btn-primary" (click)="Read()" value="Read">
            </td>
          </tr>
          <tr>
            <td>
            <label class="f"><p>Title:</p>{{a[0]}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="f"><p>Name:</p>{{a[1]}}</label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="f"><p>Story:</p>{{a[3]}}</label>
            </td>
          </tr>
        </table>
      </div>
      