<div style="display: flex;  align-items: flex-start;">
  <div style="display: flex;  flex-direction: column; align-items: flex-start;">
    <div>
      <img
        src="https://quotefancy.com/media/wallpaper/3840x2160/5240185-Derrick-Jensen-Quote-The-stories-we-are-told-shape-the-way-we-see.jpg"
        class="img1" style="width: 500px; height: 500px;">
    </div>
    <div style="margin-top:60px;">
      <img src="https://i.pinimg.com/736x/19/36/b0/1936b04689b80109d2d24f07e453df40.jpg" class="img1"
        style="width: 500px; height: 500px;">
    </div>
  </div>

  <table cellpadding="10" style="margin-left: 50px;">
    <tr>
      <td>
        <label><b>Enter Category</b></label>
      </td>
    </tr>
    <tr>
      <td>
        <select id="email" [(ngModel)]="User.email">
          <option value="sd18@gmail.com">sd18@gmail.com</option>
          <option value="sd16@gmail.com">sd16@gmail.com</option>
          <option value="mom13@gmail.com">mom13@gmail.com</option>
          <option value="dad13@gmail.com">dad13@gmail.com</option>
          <option value="man18@gmail.com">man18@gmail.com</option>
          <option value="jan13@gmail.com">jan13@gmail.com</option>

        </select>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" class="btn btn-primary" (click)="Read()" value="Read">
      </td>
    </tr>
    <tr>
      <td>
        <label class="f">
          <p>Title:</p>{{a[0]}}
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label class="f">
          <p>Name:</p>{{a[1]}}
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label class="f">
          <p>Story:</p>{{a[3]}}
        </label>
      </td>
    </tr>
  </table>
</div>