.feedback {
    background-image: url('https://img.freepik.com/premium-vector/abstract-luxury-lavender-liquid-watercolor-background-with-golden-cracks_353323-457.jpg?w=740');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
  }.has-error .form-control {
      border-color: red;
    }
    
    .has-error .help-block {
      color: red;
    }
    
    .help-block {
      margin-top: 5px;
    }
    
    .btn-primary {
      background-color: black;
      color: white;
    }
    
    .ratings-container {
      display: flex;
    }
    
    .rating-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 5px;
      cursor: pointer;
      color:black
    }
    .text-white {
      color: black;
    }
    
    
    .selected {
      background-color: #ccc;
    }
    
    .rating-btn:hover {
      background-color: #242222;
    }
    
    .selected-rating {
      margin-top: 5px;
      font-weight: bold;
    }